pgpass.txt
.jenkins/backups
*.recover
data
dump

# Thijs Creemers:
set_env_local*

# Runtime artifacts:
src/extract_bgt.zip
app/work/*

# Python ephemerals:
*.pyc
__pycache__

# setuptools stuff:
/build
/dist
*.egg-info
.eggs

# Generated documentation:
/docs/_build/
# Downloaded intersphinx inventory files:
/docs/*.inv

# PyCharm/IntelliJ:
/.idea
/*.iml
/.editorconfig

# Python venv: --PvB
/.venv

# Credentials: --PvB
/keys.sh
