pgpass.txt
.jenkins/backups
*.recover
data
dump
dump/bgt.dump
keys.env
set_local_env.sh
set_env_local*
src/extract_bgt.zip
app/work/*
.cache
*.pyc
__pycache__


# Generated documentation:
/docs/_build/
# Downloaded intersphinx inventory files:
/docs/*.inv


# IntelliJ stuff:
/.idea
/*.iml
/.editorconfig


# PyDev/Eclipse
.project
.pydevproject


# Python virtual environement:
# --PvB:
/.venv
